<h1> All Employees </h1>
<% @employees.each do |employee| %>
<ul>
    <li><%= link_to employee.full_name, employee_path(employee.id) %>
</ul>
<% end  %>

<%= link_to "Create New Employee", new_employee_path %> 
<br><br>
<%= link_to "All Dogs", dogs_path %>