<h1>Employees</h1>
<% @employees.each do |emp| %>
    
   <h3> <%= link_to emp.name, emp %> </h3>
    <%= link_to "Delete", emp, method: :delete, 
    data: {confirm: 'Are you sure?'} %>
    
<% end %>

