<h1><%= @dog.name %></h1>

<p><%= @dog.breed%></p><br>
<p><%= @dog.age%></p><br>
<h3>Dog Owners:</h3>

    <% @dog.employees.each do |employee| %>
        <%= employee.first_name %> <br>
    <% end %>